# This is an example environment file for the TypeScript API Template project.
NODE_ENV=development
HOST=127.0.0.1
PORT=3000

# CORS_ORIGINS is a comma-separated list of allowed origins for Cross-Origin Resource Sharing (CORS).
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000